@model Appointment
@{
    ViewData["Title"] = "AddAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddAppointment</h2>

<form asp-action="AddAppointmentIntoTable">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AppointmentDateTime" class="control-label"></label>
        <input asp-for="AppointmentDateTime" class="form-control" />
        <span asp-validation-for="AppointmentDateTime" class="text-danger"></span>
    </div>
    <input asp-for="clinicID" type="hidden" class="form-control" value="@ViewBag.clinicId" />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}